/* Hero Image Styling */

.hero-image {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.inner {
    text-align: center;
}

#header .inner h1 {
    color: #FFFFFF;
    font-size: 2em;
    margin-top: 1em;
    text-align: center;
}

#header .inner .second_line {
    color: rgba(80, 205, 250, 0.933);
}

#header .inner p {
    color: #CCCCCC;
    font-size: 1.2em;
    margin-bottom: 2em;
    text-align: center;
}

/* General Body Styles */
body {
    color:#000;
}

/* Hero Button Styling */
#header .inner .button {
    display: inline-block;
    padding: 1em 2em;
    background-color: #e43f5a;
    color: #fff !important;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

#header .inner .button:hover {
  background-color: #ad263d;
    color: white !important;
    border-color: #ad263d;
}

/* Logo Container Styling */

#header .logo-container {
    display: flex;
    align-items: center;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
}
#header .logo-container a {
  display: flex;
    align-items: center;
        text-decoration: none;

}

/* Company Name Styling */
#header .logo-container .company-name {
    color: #ffffff;
    font-size: 2.2em;
    font-family: 'Helvetica', sans-serif;
    margin-left: 0.5em;
    margin-top: 0;
    font-weight: normal;
}

/* Logo Styling */

#header .logo-container img.logo {
    max-width: 100px;
    margin-right: 10px;
    font-family: 'Montserrat', sans-serif;
}

/* Main Section Spacing */
#main section {
	padding-bottom: 1em !important;
}

#main section > .major{
	margin-bottom: 1em !important;
}

#main article {
    padding: 1em !important;
    margin-bottom: 1em !important;
}

/* Icon Styling */

#main section .icon {
    color: rgba(100, 100, 100, 0.8);
}

/* Main section button styling */

#main .button {
    background-color: #e43f5a;
    color: white !important;
    border-color: #e43f5a;
}

#main .button:hover {
    background-color: #ad263d;
    color: white !important;
    border-color: #ad263d;
}

/* Remove body background and z-index */

body {
    color: #000;
}
#main {
     margin-top: 0 !important;
    padding-top: 100px !important;
}

#header {
    z-index: 1; /* Ensure the header is on top */
}

/* Vendor Logo Styling */
#main .row article img {
    max-width: 70px !important;
    height: auto !important;
   filter: none !important;
   opacity: 1 !important;
    display: block;
    margin: 0 auto;
}
#main .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center !important;
}
#main .row article {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
}